Repository MissingCore/Music, pull requests merged in 2025-01, with the labels that each got.

#134 Added fr translation pt.1
  mobile/src/modules/i18n/translations/fr.json
Labels: Translations

#135 i18n(fr): Add French translation
  mobile/src/modules/i18n/constants.ts
  mobile/src/modules/i18n/index.ts
  mobile/src/modules/i18n/translations/fr.json
Labels: Translations

#131 i18n(zhCN): Add Simplified Chinese Translation
  mobile/src/modules/i18n/constants.ts
  mobile/src/modules/i18n/index.ts
  mobile/src/modules/i18n/translations/zh-Hans.json
Labels: Translations

#140 i18n(ru): Add Russian Translation
  README.md
  mobile/src/modules/i18n/constants.ts
  mobile/src/modules/i18n/index.ts
  mobile/src/modules/i18n/translations/ru.json
Labels: Translations

#145 Add Turkish Language
  README.md
  mobile/src/modules/i18n/constants.ts
  mobile/src/modules/i18n/index.ts
  mobile/src/modules/i18n/translations/tr.json
Labels: Translations

#147 feat: Updated vinyl design (Part 1)
  mobile/src/app/_layout.tsx
  mobile/src/app/now-playing.tsx
  mobile/src/hooks/useBottomActionsContext.ts
  mobile/src/layouts/CurrentList.tsx
  mobile/src/modules/media/components/MediaImage.tsx
  mobile/src/modules/media/components/MiniPlayer.tsx
  mobile/src/modules/media/components/Vinyl.tsx
  mobile/src/modules/search/components/SearchResult.tsx
  mobile/src/providers/RouteHandlers.tsx
  mobile/src/screens/NowPlaying/SeekService.ts
  mobile/src/screens/NowPlaying/useVinylSeekbar.ts
  mobile/src/screens/Sheets/Artwork.tsx
  mobile/src/screens/Sheets/Track.tsx
Labels: enhancement

#148 feat: Updated vinyl design (Part 2)
  docs/supported-gestures.md
  mobile/src/app/now-playing.tsx
  mobile/src/screens/NowPlaying/useVinylSeekbar.ts
Labels: enhancement

#149 fix: Natural playback bug
  mobile/index.ts
  mobile/src/hooks/useHasHydratedStores.ts
  mobile/src/hooks/useSetup.ts
  mobile/src/lib/react-native-track-player.ts
  mobile/src/modules/media/services/Music.ts
  mobile/src/modules/scanning/hooks/useOnboarding.ts
  mobile/src/services/RNTPService.ts
  mobile/src/services/UserPreferences.ts
Labels: Bug

#150 feat: Support custom tab order*
  mobile/src/app/(main)/(home)/_layout.tsx
  mobile/src/app/(main)/(home)/folder.tsx
  mobile/src/app/(main)/_layout.tsx
  mobile/src/app/setting/_layout.tsx
  mobile/src/app/setting/appearance/home-tabs-order.tsx
  mobile/src/app/setting/appearance/index.tsx
  mobile/src/icons/DragIndicator.tsx
  mobile/src/services/UserPreferences.ts
Labels: enhancement

#152 chore: Drag list improvements
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/app/(main)/(current)/playlist/[id].tsx
  mobile/src/app/setting/appearance/home-tabs-order.tsx
  mobile/src/components/Defaults.tsx
  mobile/src/lib/react-native-draglist.ts
  mobile/src/resources/licenses.json
  mobile/src/screens/ModifyPlaylist/index.tsx
  mobile/tsconfig.json
Labels: Housekeeping

#154 feat: Tab visibility (Part 1)
  mobile/src/app/(main)/(home)/_layout.tsx
  mobile/src/app/(main)/_layout.tsx
  mobile/src/app/now-playing.tsx
  mobile/src/app/setting/appearance/home-tabs-order.tsx
  mobile/src/icons/Eye.tsx
  mobile/src/icons/EyeOff.tsx
  mobile/src/services/UserPreferences.ts
Labels: enhancement

#153 Update Japanese
  mobile/src/modules/i18n/translations/ja.json
Labels: Translations

#156 Update Japanese text
  mobile/src/modules/i18n/translations/ja.json
Labels: Translations

#155 perf: Improve launch performance for users with lots of tracks. (1/n)
  docs/how-are-tracks-indexed.md
  mobile/src/api/album.ts
  mobile/src/api/artist.ts
  mobile/src/api/playlist.ts
  mobile/src/api/track.ts
  mobile/src/api/types.ts
  mobile/src/api/utils.ts
  mobile/src/db/utils.ts
  mobile/src/modules/media/helpers/data.ts
  mobile/src/modules/media/services/RecentList.ts
  mobile/src/modules/media/services/SortPreferences.ts
  mobile/src/modules/scanning/helpers/artwork.ts
  mobile/src/modules/scanning/helpers/audio.ts
  mobile/src/modules/scanning/helpers/rescan.ts
  mobile/src/queries/keyStore.ts
  mobile/src/screens/Sheets/Backup/data.ts
  mobile/src/utils/types.ts
Labels: enhancement, Housekeeping

#158 Fix Typo
  mobile/src/modules/i18n/translations/ja.json
Labels: Translations
